@import 'fonts.css';

body {
    background-color: rgb(136, 123, 176);
    color: white;
    overflow-x: hidden;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(136, 123, 176);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(96, 87, 125);
    opacity: 0.5;
    transition: 1s;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(76, 69, 99);
}
